<h1>Your Current Shopping List</h1>

<table class="table">
<%= for recipe <- @recipes do %>
  <tr>
    <td><%= recipe.name %>
    <td class="text-right">
      <%= link "Show", to: recipe_path(@conn, :show, recipe.id), class: "btn btn-default btn-xs" %>
    </td>
    <td>
      <%= render(Cookbook.SharedView, "shopping_list_form_del.html", current_user: @current_user, conn: @conn, recipe: recipe) %>
    </td>
  </tr>
<% end %>
</table>