<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Cookbook!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container-fluid">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <%= if @current_user do %>
              <li class="active"><%= link("View Shopping List", to: "/shopping") %></li>
              <li class="active"><%= link("Manage Shopping List", to: "/shopping/#{@current_user.id}/edit") %></li>
              <li class="active"><%= link("Recipe Book", to: "/book/#{@current_user.id}/edit") %></li>
            <% end %>
            <li class="active"><%= link("Browse Recipes", to: "/recipes") %></li>
            <%= if @current_user do %>
              <li class="disabled"><%= link(@current_user.username, to: "#") %></li>
              <li><%= link("Log Out", to: "/sessions/delete", method: :delete) %></li>
            <% else %>
              <li><%= link("Log In", to: "/sessions/new") %></li>
              <li><%= link("Register", to: "/users/new") %></li>
            <% end %>
          </ul>
        </nav>
        <%= link to: "/" do %>
          <span class="logo"></span>
        <% end %>
      </header>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
