<h1>All Recipes</h1>
<%= button("New Recipe", to: "/recipes/new", class: "btn btn-default", method: "get") %>

<table class="table">
  <%= for recipe <- @recipes do %>
    <tr>
      <td><%= render "recipe.html", recipe: recipe %></td>
      <td><%= link "View", to: recipe_path(@conn, :show, recipe.id) %></td>
      <td><%= link "Add to Recipe Book", to: recipe_path(@conn, :index), class: "btn btn-default btn-xs" %></td>
    </tr>
  <% end %>
</table>