/* This file is for your main application css. */
.logo {
  width: 519px;
  height: 101px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/cookbook.png");
  background-size: 519px 101px;
}